- var font = 'Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;'
- var baseURL = "https://thefpl.us/email/img/"
- var textColor = "#333"
- var maxWidth = 600


mixin footerLink(url, name, file, last)
  if (last)
    td(align='center', style='padding-right: 20px')
      a(href=url, target='_blank' title=name)
        img(alt=name src=baseURL+'/'+file width='24', height='24', style="height: auto; display: block; font-family:"+font+"; color: #666666; font-size: 10px;", border='0')
  else
    td(align='center', style='padding-right: 20px')
      a(href=url target='_blank' title=name)
        img(alt=name, src=baseURL+'/'+file width='24', height='24', style="height: auto; display: block; font-family:"+font+"; color: #666666; font-size: 10px;", border='0')

mixin textRow(size)
  if size
    - fontSizeInt = parseInt(18 * size)
  else
    - fontSizeInt = 18
  
  - fontSize = fontSizeInt + "px"
  - lineHeight = (fontSizeInt * 2) + "px"
  
  tr
    td(align="justify" color=textColor style="border-left: 2px solid #aaa; color:"+textColor+"; padding-left:32px; padding-bottom: 0; font-family:"+font+"; font-size:"+fontSize+"; font-weight: 300; line-height:"+lineHeight+";")
      block
      

mixin imageRow(filename,alt,height)
  
  if !height
    - height = 'auto'

  tr
    td(align="center")
      img(src=baseURL+filename alt=alt width=maxWidth height=height)

mixin textLink(url,txt)
  a(href=url)
    span= txt
  block

mixin image(file,alt,w,h)
  img(alt=alt src=baseURL+'/'+file width=w height=h style="height: auto; display: block;" border='0')
  
mixin button(url,text,color)
  if !color
    - color = "#e04a3f"
  div(style='text-align:center;')
    | <!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://" style="height:40px;v-text-anchor:middle;width:320px;" arcsize="10%" stroke="f" fillcolor="#e04a3f"><w:anchorlock/><center><![endif]-->
    a(href=url, style='background-color:'+color+';border-radius:4px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:320px;-webkit-text-size-adjust:none;') #{text}
    | <!--[if mso]></center></v:roundrect><![endif]--></div>

html
  head
    title Come back and Pay Tenbux
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    style(type='text/css').
      /* CLIENT-SPECIFIC STYLES */
      #outlook a{padding:0;} /* Force Outlook to provide a "view in browser" message */
      .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing */
      body, table, td, a{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
      table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;} /* Remove spacing between tables in Outlook 2007 and up */
      img{-ms-interpolation-mode:bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */
      /* iOS BLUE LINKS */
      .ios-links a {color:#db4c3f !important; text-decoration: none !important;}
      /* RESET STYLES */
      body{margin:0; padding:0;}
      img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
      table{border-collapse:collapse !important;}
      body{height:100% !important; margin:0; padding:0; width:100% !important;}
      /* FONT SMOOTHING */
      body {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      }
      /* MOBILE STYLES */
      @media screen and (max-width: 630px) {
      /* RESPONSIVE ELEMENTS */
      img[class="responsive-img"]{
      max-width: 100% !important;
      height: auto !important;
      }
      table[class="responsive-button"]{
      width: 100% !important;
      }
      table[class="responsive-table"]{
      width: 100% !important;
      }
      /* RESPONSIVE VISIBILITY */
      img[class="mobile-hide"]{
      display: none !important;
      }
      td[class="mobile-hide"]{
      display: none !important;
      }
      /* UTILITY CLASSES FOR ADJUSTING PADDING ON MOBILE */
      td[class="no-padding"]{
      padding: 0 !important;
      }
      /* COMPONENTS */
      /* HEADING A */
      td[class="heading-a-title"]{
      font-size: 23px !important;
      }
      td[class="heading-a-subtitle"]{
      font-size: 20px !important;
      }
      }
  body(style='margin: 0; padding: 0;')
    // PREHEADER TEXT
    //div(style="display: none; font-size: 1px; color: #474747; line-height: 1px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity:0; overflow:hidden;")
    // HEADER
    table(border='0', cellpadding='0', cellspacing='0', width='100%', style='table-layout: fixed;')
      tr
        td(bgcolor='#ffffff', align='center', style='padding: 0 15px 25px 15px;')
          table.responsive-table(border='0', cellpadding='0', cellspacing='0', width='600')
            block header
    // GRID CONTAINER
    table(border='0', cellpadding='0', cellspacing='0', width='100%', style='table-layout: fixed;')
      tr
        td(bgcolor='#ffffff', align='center', style='padding: 0 15px 0 15px;')
          table.responsive-table(border='0', cellpadding='0', cellspacing='0', width='480')
            // GRID ROW
            tr
              td
                // GRID CELL
                table.responsive-table(cellpadding='0', cellspacing='0', border='0', width='600', align='center')
                  tr
                    td(style='padding: 0 0 20px 0;')
                      // GRID CELL INNER
                      table(cellpadding='0', cellspacing='0', border='0', width='100%')
                        block content
    // FOOTER
    table(border='0', cellpadding='0', cellspacing='0', width='100%', style='table-layout: fixed;')
      tr
        td(bgcolor='#ffffff', align='center', style='padding: 25px 15px 25px 15px;')
          table.responsive-table(border='0', cellpadding='0', cellspacing='0', width='600')
            // CONTENT
            tr
              // SOCIAL COLUMN
              td(bgcolor='#ffffff', align='center')
                table(border='0', cellpadding='0', cellspacing='0')
                  tr
                    //-+footerLink("https://ballp.it", "ballp.it", "ballpit24.png")
                    +footerLink("https://ballp.it", "ballp.it", "ballpit24.png")
                    +footerLink("https://twitter.com/TheFPlus", "Twitter", "twitter24.png")
                    +footerLink("https://www.youtube.com/TheFPlus", "YouTube", "youtube24.png")
                    +footerLink("https://www.paypal.me/TheFPlus", "PayPal", "paypal24.png")
                    +footerLink("https://github.com/AhoyLemon/ballpit", "GitHub", "github24.png")
                    //+footerLink("http://damn.dog", "damn.dog", "damndog24.png")
                    +footerLink("http://ahoylemon.xyz", "ahoylemon.xyz", "ahoylemon24.png")